@using Inventory.Models;
@using System.Data;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #customers, customers1 {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        transition: background 0.5s,transform 0.5s;
    }

        #customers td, #customers th, #customers1 td, #customers1 th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even), #customers1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover, #customers1 tr:hover {
            background-color: #ddd;
            transform: translateY(-5px);
        }

        #customers th, #customers1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
@{
    string msg = "";
    if (ViewBag.Message != null)
    {
        msg = ViewBag.Message;
    }

}

<script>
    //Leagcy part
    /*
    function ShowModel() {
        document.getElementById('dvOverlay').style.display = '';
        document.getElementById('dvModal').style.display = '';
    }
    function HideModel(){
        document.getElementById('dvOverlay').style.display = 'none';
        document.getElementById('dvModal').style.display = 'none';
    }
    */
   var Message = '@msg';
   if (Message != '')
   {
      alert(Message);
   }

    // Dynamic Part

    function UpdateItem(ID) {
        ShowModel();
        $('#btnSubmit').val('Update');
        $('#choice').val('1');
        $('#EquipmentID').val(ID); 
    }

    function ShowModel() {
        $('#EquipmentID').val('');
        $('#dvModal').dialog({
            title: "Equipment Entry",
            height: 500,
            width: 400,
            modal: true
        });
    }

    function UpdateAssignedCustomer(CID, EID, QT) {
        $('#Titel').text('Update');
        const url = '@Url.Action("NewAssignedEquipment", "Dashboard")' +'?cid=' + CID + '&eid=' + EID + '&qt=' + QT + '&mode=Update';
        window.location.href = url;
    }



</script>

<div class="row">
    <div class="col col-sm-6">
        <div style="background-color: lightcoral; width:100%;text-align:center;padding:5px">
            Equipment List
            <input type="button" value="New" style="float:right" onclick="ShowModel()" />
        </div>
        <div style="max-height:400px; width:100%;overflow:auto">
            <form action="@Url.Action("Index","Dashboard")" method="post">
                <table id="customers">
                    <tr>
                        <th></th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Equipment Name</th>
                        <th>Quantity</th>
                        <th>Entry Date</th>
                        <th>End Date</th>
                    </tr>
                    @{
                        //EquipmentList obj = new EquipmentList();

                        List<EquipmentList> list = (List<EquipmentList>)ViewBag.EquipmentList;

                        foreach (var item in list)
                        {
                            <tr>
                                <td><input type="hidden" name="EquipmentID" value="@item.Equipmentid" /></td>
                                <td><input type="button" value="Update" onclick="UpdateItem(@item.Equipmentid)" /></td>
                                <td><input type="submit" value="Delete" name="btnSubmit" /></td>
                                <td>@item.EquipmentName</td>
                                <td>@item.Quantity</td>
                                <td>@item.EntryDate</td>
                                <td>@item.EndDate</td>
                            </tr>

                        }
                    }


                </table>
            </form>
        </div>

    </div>

    <div class="col col-sm-6">
        <div style="background-color: lightcoral; width: 100%; text-align: center; padding: 5px">
            Assigned History
            <input type="button" value="New" style="float:right" onclick="window.location.href='@Url.Action("NewAssignedEquipment","Dashboard")'" />
        </div>
        <div style="max-height:400px; width:100%;overflow:auto">
            @{
                EquipmentList obj = new EquipmentList();
                System.Data.DataTable dt = obj.AssignedEquipmentList();

                var dataList = (from p in dt.AsEnumerable()
                                select new
                                {
                                    CustomerID = p.Field<int>("CustomerID"),
                                    CustomerName = p.Field<string>("CustomerName"),
                                    CustomerMob = p.Field<string>("CustomerMob"),
                                    CustomerAdd = p.Field<string>("CustomerAdd"),
                                    EquipmentAssignment = p.Field<int>("EqCount"),
                                    EquipmentName = p.Field<string>("EquipmentName"),
                                    EquipmentID = p.Field<int>("EquipmentID")
                                }).ToList();
            }
            <form action="@Url.Action("Index","Dashboard")" method="post">
                <table id="customers1">
                    <tr>

                        <th>Update</th>
                        <th>Delete</th>
                        <th>Customer Name</th>
                        <th>Customer Mobile</th>
                        <th>Equipment Name</th>
                        <th>Equipment Assignment</th>

                    </tr>
                    @{


                        foreach (var item in dataList)
                        {
                            string DisabledStr = "";
                            if (item.EquipmentAssignment == 0)
                            {
                                DisabledStr = "disabled=disabled";
                            }
                            <tr>
                                <td><input type="button" value="Update" onclick="UpdateAssignedCustomer(@item.CustomerID,@item.EquipmentID,@item.EquipmentAssignment)" @DisabledStr /></td>
                                <td><input type="submit" value="Delete" name="btnSubmit" @DisabledStr /></td>
                                <td>@item.CustomerName</td>
                                <td>@item.CustomerMob</td>
                                <td>@item.EquipmentName</td>
                                <td>@item.EquipmentAssignment</td>
                            </tr>

                        }
                    }


                </table>
            </form>
        </div>

    </div>
</div>

@Html.Partial("EquipmentEntry");