@using Inventory.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        transition: background 0.5s,transform 0.5s;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
            transform: translateY(-5px);
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
@{
    string msg = "";
    if (ViewBag.Message != null)
    {
        msg = ViewBag.Message;
    }

}
<script>
    //Leagcy part
    /*
    function ShowModel() {
        document.getElementById('dvOverlay').style.display = '';
        document.getElementById('dvModal').style.display = '';
    }
    function HideModel(){
        document.getElementById('dvOverlay').style.display = 'none';
        document.getElementById('dvModal').style.display = 'none';
    }
    */
   var Message = '@msg';
   if (Message != '')
   {
      alert(Message);
   }

    // Dynamic Part
    function UpdateItem(ID) {
        ShowModel();
        $('#btnSubmit').val('Update');
        $('#choice').val('1');
        $('#EquipmentID').val(ID); // Use the actual variable
        $('#EquipmentID').attr('type', 'hidden'); // Set the input type to hidden
    }

    function ShowModel() {
        $('#dvModal').dialog({
            title: "Equipment Entry",
            height: 500,
            width: 400,
            modal: true
            //,
            //buttons: {
            //    Ok: function () {
            //       dialog.dialog("Ok");
            //    }
            //}

        });
    }



</script>

<div class="row">
    <div class="col col-sm-6">
        <div style="background-color: lightcoral; width:100%;text-align:center;padding:5px">
            Equipment List
            <input type="button" value="New" style="float:right" onclick="ShowModel()" />
        </div>
        <div style="max-height:400px; width:100%;overflow:auto">
            <form action="@Url.Action("Index","Dashboard")" method="post">
                <table id="customers">
                    <tr>
                        <th></th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>EquipmentName</th>
                        <th>Quantity</th>
                        <th>EntryDate</th>
                        <th>EndDate</th>
                    </tr>
                    @{
                        //EquipmentList obj = new EquipmentList();

                        List<EquipmentList> list = (List<EquipmentList>)ViewBag.EquipmentList;

                        foreach (var item in list)
                        {
                            <tr>
                                <td><input type="hidden" name="EquipmentID" value="@item.Equipmentid" /></td>
                                <td><input type="button" value="Update" onclick="UpdateItem(@item.Equipmentid)" /></td>
                                <td><input type="submit" value="Delete" name="btnSubmit" /></td>
                                <td>@item.EquipmentName</td>
                                <td>@item.Quantity</td>
                                <td>@item.EntryDate</td>
                                <td>@item.EndDate</td>
                            </tr>

                        }
                    }


                </table>
            </form>
        </div>

    </div>

    <div class="col col-sm-6">
        <div style="background-color: lightcoral; width: 100%; text-align: center; padding: 5px">caption2</div>
        <div style="max-height:400px; width:100%;overflow:auto">

        </div>

    </div>
</div>

@Html.Partial("EquipmentEntry");