@using Inventory.Models;

@{
    ViewBag.Title = "AssignedEquipment";
}
@{
    List<EquipmentList> equipmentLists = ViewBag.lstEquipment;
    List<Customer> customerList = ViewBag.customerList;
}
@{
    var mode = Request["mode"];
    int CID = 0;
    int EID = 0;
    int QT = 0;
    if (mode != null)
    {
        CID = int.Parse(Request["cid"]);
        EID = int.Parse(Request["eid"]);
        QT = int.Parse(Request["qt"]);
    }

    var isUpdate = mode == "Update";

}

<script>
    $(document).ready(function () {
        // Your code here
        var eid = @Html.Raw(Json.Encode(EID));
        $('#exampleFormControlInput1').val(eid);
        var cid = @Html.Raw(Json.Encode(CID));
        $('#exampleFormControlInput2').val(cid);
        var qt = @Html.Raw(Json.Encode(QT));
        $('#input3').val(qt);

    });

</script>

<h2 id="Titel">New Assigned Equipment</h2>

<form method="post" action="@Url.Action("NewAssignedEquipment","Dashboard")">
    <div class="card" ">
        <div class="card-body">
            <label for="exampleFormControlInput1" class="form-label" ">Equipment Name</label>
            <select name="txtEquipmentID" class="form-control" id="exampleFormControlInput1" placeholder="EquipmentID">

                @{
                    foreach (var obj in equipmentLists)
                    {
                        <option value="@obj.Equipmentid">
                            @obj.EquipmentName
                        </option>
                    }
                }
            </select>
            <br />
            <label for="exampleFormControlInput2" class="form-label" ">Customer Name</label>
            <select name="txtCustomerID" class="form-control" id="exampleFormControlInput2" placeholder="CustomerID">

                @{
                    foreach (var obj1 in customerList)
                    {
                        <option value="@obj1.CustomerID">
                            @obj1.CustomertName
                        </option>
                    }
                }
            </select>
            <br />
            <div class="mb-3">
                <label for="input3" class="form-label">Quantity</label>
                <input type="text" name="txtQuantity" id="input3" class="form-control" placeholder="Quantity">
            </div>

            <input type="submit" id="btnSubmit" class="btn btn-primary" name="btnSubmit" value="@(isUpdate ? "Update" : "Save")" />
        </div>
