@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    @{ 
        string session = "";
        if(Session["UserName"]!=null)
        {
            session = Session["UserName"].ToString();
        }
    }
    <h2>@session</h2>
    <h3>@ViewBag.Message</h3>
    <p>This is Html Syntex</p>
    <form method="post" action="@Url.Action("About","Home")">
        <input type="submit" value="submit" name="btn" /><br />
        <input type="submit" value="search" name="btn" />
    </form>
    <p>Move to Contact page from Sample </p>
    <form method="post" action="@Url.Action("Sample","Home")">
        <input type="submit" value="submit" name="btn" /><br />
        <input type="submit" value="search" name="btn" />
    </form>
</main>